@use "./variables.scss" as *;

// put your custom CSS here!

iframe.pdf {
  aspect-ratio: 8.5 / 11;
  width: 100%;
  height: auto;

  @media (max-width: 600px) {
    aspect-ratio: unset;
    height: 70vh;
  }
}
